{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
<p>
  Assuming your email address was correct, and your account was active, we have
  sent you an email with a link to reset your password.
  Please check your email and click the link to continue.
</p>
<p>
  If you haven't activated your account yet, you'll need to do that, first.
</p>
<p>
  If you continue to be stuck, please
  <a href="{% url 'wafer_page' 'contact' %}">contact</a> the registration team.
</p>
{% endblock %}

{# This is used by django.contrib.auth #}
